# Default first-run source is created automatically as:
# <Cloud-to-NAS>/cloud-IN
#
# A custom source may also be configured, for example:
/home/username/Downloads/2026 - Mega
/home/username/Downloads/2026 - iCloud
/home/username/Downloads/2026 - ProtonDrive
